In [1]:
d={"高中班級":["1-3","2-7"],
   "大學班級":["甲班","乙班"]}


l1=list(d.keys())
print(l1)
l2=list(d.values())
print(l2)



print(d["高中班級"][2])


d["大學班級"]=["甲班","乙班"]
print(d)

['高中班級', '大學班級']
[['1-3', '2-7'], ['甲班', '乙班']]

IndexError: list index out of range

In [2]:
d={"高中班級":["1-3","2-7"],
   "大學班級":["甲班","乙班"]}


l1=list(d.keys())
print(l1)
l2=list(d.values())
print(l2)



print(d["高中班級"][1])


d["大學班級"]=["甲班","乙班"]
print(d)

['高中班級', '大學班級']
[['1-3', '2-7'], ['甲班', '乙班']]

IndexError: list index out of range

In [3]:
d={"高中班級":["1-3","2-7"],
   "大學班級":["甲班","乙班"]}


l1=list(d.keys())
print(l1)
l2=list(d.values())
print(l2)



print(d["高中班級"][1])


d["大學班級"]=["甲班","乙班"]
print(d)

['高中班級', '大學班級']
[['1-3', '2-7'], ['甲班', '乙班']]
2-7
{'高中班級': ['1-3', '2-7'], '大學班級': ['甲班', '乙班']}

In [ ]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i
             print(d["分發寢室"][n])
        else : 
            n = n+1

In [ ]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

In [ ]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

In [16]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

輸入學號40971122H
1427

In [17]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

輸入學號40971128H

In [18]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

輸入學號40971125H
1450

In [19]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n

輸入學號40971125H
1545

In [20]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

輸入學號40971125H
1450

In [22]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n]) 
                
                
            n = n+1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [24]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n]) 
                
                
            n = n+1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 12)

In [25]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

輸入學號40971121H
1439

In [26]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])

輸入學號40971125H
1545

In [27]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])

輸入學號40971121H
1545

In [28]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])

輸入學號40971121H
1545

In [ ]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

In [31]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

輸入學號2

In [32]:
d={"學號":["40971119H","40971121H","40971122H","40971125H"],
   "分發寢室":["1545","1439","1427","1450"]}
s = input("輸入學號")

n = 0
for i in d["學號"] :
     #print(i)
        if s == i :
             print(d["分發寢室"][n])
        else : 
            n = n+1

輸入學號40971125H
1450