In [1]:
d={"高中班級":["1-3","2-7"],
   "大學班級":["甲班","乙班"]}


l1=list(d.keys())
print(l1)
l2=list(d.values())
print(l2)



print(d["高中班級"][2])


d["大學班級"]=["甲班","乙班"]
print(d)

['高中班級', '大學班級']
[['1-3', '2-7'], ['甲班', '乙班']]

IndexError: list index out of range

In [2]:
d={"高中班級":["1-3","2-7"],
   "大學班級":["甲班","乙班"]}


l1=list(d.keys())
print(l1)
l2=list(d.values())
print(l2)



print(d["高中班級"][1])


d["大學班級"]=["甲班","乙班"]
print(d)

['高中班級', '大學班級']
[['1-3', '2-7'], ['甲班', '乙班']]

IndexError: list index out of range

In [3]:
d={"高中班級":["1-3","2-7"],
   "大學班級":["甲班","乙班"]}


l1=list(d.keys())
print(l1)
l2=list(d.values())
print(l2)



print(d["高中班級"][1])


d["大學班級"]=["甲班","乙班"]
print(d)

['高中班級', '大學班級']
[['1-3', '2-7'], ['甲班', '乙班']]
2-7
{'高中班級': ['1-3', '2-7'], '大學班級': ['甲班', '乙班']}